
.app {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    max-width: 1024px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
.genericInput {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    background-color: #f1f1f1;
    width: 100%;
}
.input {
    composes: genericInput;
    margin-bottom: 5px;
}
.input:focus {
    background-color: white;
}
.repoName {
    text-align: left;
    padding: 2px 4px;
}
.redText {
    composes: repoName;
    color: red;
}