
.app {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1024px;
}
.text {
    color: white;
    font-family: monospace;
    font-size: 24px;
}
.screen {
    composes: text;
    background-color: black;
    height: 500px;
    text-align: center;
    display: table;
    position: relative;
    float: left;
    width: 654px;
    margin-right: 10px;
    border: 3px solid #353739;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
.redText {
    color: red;
}
.basicInput {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}
.input {
    composes: basicInput;
}
.button {
    composes: basicInput;
    background-color: transparent;
    color: white;
}
.hidden {
    display: none;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
